body{
    background-image: url('./images/pexels-oandremoura-3289880.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

